#cv {
  width: 793px;
  margin: 50px auto;
}
/* header */
/* header title */
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
header {
}
.header-title {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 10px;
}
/* header_bio */
.header_bio {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.bio-name-phone-web {
  width: 60%;
}
.bio-image {
  width: 40%;
}
.bio-image > img {
  width: 100%;
  object-fit: cover;
}
.bio-name {
  font-size: 45px;
  text-transform: uppercase;
  color: red;
  letter-spacing: 6px;
}
.name-spec {
  font-family: "Imperial Script";
  font-size: 120px;
}
.bio-phone-web {
  display: flex;
  justify-content: space-between;
}
.phone,
.web {
  width: 50%;
}
.phone > h3,
.web > h3 {
  font-size: 1rem;
}
.phone > a,
.web > a {
  text-decoration: none;
  color: rgb(54, 52, 52);
  cursor: pointer;
}
.phone > a:hover,
.web > a:hover {
  color: black;
  transform: translateX(10px);
}
section {
    margin-top: 20px;
}
section > h2 {
    text-transform: uppercase;
    color:red;

}
.profile-summary > p{
    padding: 4px 0;
}
.wrap-skill{
    display: flex;
    flex-wrap: wrap;
}
.wrap-skill>ul {
    width: 40%; 
    margin: 0 20px;
    padding:4px 35px 0 0 ;
}
.wrap-skill>ul li {
    text-transform: capitalize;
}
.experience > article{
  padding: 10px 0 ;
  display: flex;
}
.experience > article > .what-work,.description-job{
   width: 50%;
}
.experience > article h3 {
    font-weight: 600;
}
.experience > article  strong {
    color: rgb(70, 68, 68);
    font-weight: 400;

}
.container-bottom{
    display: flex;
}
.container-bottom > section {
    width: 50%;
     
}
.container-bottom > section h4 {
    font-weight: 600;
}
.container-bottom > section h2 {
    padding-bottom: 4px;
}
.certification > ul li {
     margin: 0 20px;
}